{% extends "blog/main.html" %}
{% block content %}
<div class="main-content">
    <div class="container">
        <h1 class="text-center mb-5">Profile</h1>
        <form action="">
            {% csrf_token %}
        <div class="row">
            <div class="profile-card card-rounded-lg shadow p-4 p-xl-5 mb-4 text-center">
                <div class="banner">
                      <img class="rounded-circle mx-auto account-img" src="{{ user.profile.image.url }}" width="200" height="200">
                    <div class="mb-4">
                        <div class="text-left mb-4">
                            <p class="mb-2">{{user.username}}</p>
                            <p class="mb-2"><i class="fa fa-envelope"> {{user.email}}</i></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </form>
    </div>
</div>
{% endblock content %}